<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Akkroo- Process Manager</title>
	<!--<script src="//code.angularjs.org/snapshot/angular.min.js"></script>-->
	<script src="js/angular.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body ng-app="myProcessApp">
	<div ng-controller="myProcessCtrl" class="appContainer">

		<div class="componentContainer">
			<div class="component" ng-click="addComponent('image')">Branding</div>
			<div class="component" ng-click="addComponent('alist')">Attendees List</div>
			<div class="component" ng-click="addComponent('text')">Textfield</div>
			<div class="component" ng-click="addComponent('email')">E-mail</div>
			<div class="component" ng-click="addComponent('radio')">Radio buttons</div>
			<div class="component" ng-click="addComponent('checkbox')">Checkbox</div>
			<div class="component" ng-click="addComponent('label')">Label</div>
			<div class="component" ng-click="addComponent('button')">Button</div>
			<div class="component" ng-click="addComponent('thankyou')">Thankyou page</div>
		</div>

		<div class="paintContainer">
			<div class="settingContainer" id="settingArea"></div>
			<div class="previewContainer" id="previewArea" ng-show='formView'></div>
			<div class="jsonContainer" id="jsonArea" ng-show='jsonView'></div>
		</div>

		<div class="actionContainer">
			<button class='inputButton' ng-click='saveMore()'>Save & Next</button>
			<button class='inputButton' ng-click='previousForm()' ng-show='previousBtn'>Back</button>
			<button class='inputButton' ng-click='saveForm()'>Finish</button>
			&nbsp;<button class='inputButton' ng-click='viewForm()' ng-show='!formView'>View Form</button>
			&nbsp;<button class='inputButton' ng-click='viewJson()' ng-show='!jsonView'>View JSON</button>
			&nbsp;<button class='inputButton' ng-click='resetForm()'>Reset</button>
		</div>

	</div>
</body>
</html>
<script type="text/javascript" src="js/main.js"></script>
