<div class="settingBox">
	<div class="settingHeader">
		<div class="headLbl" ng-click="showDiv = !showDiv">{{field.fieldName}} - {{field.fieldType}}</div>
		<div class="headClose" ng-click="removeMe()">X</div>
	</div>
	<div class="settingBody" ng-show="showDiv">
		<div class='box'><label class="lbl">Field Type: {{field.fieldType}}</label></div>
		<div class='box'>
			<label class="lbl">Image src: </label> 
			<input type="text" value="{{field.defaultValue}}" class="inputTxt" maxlength="100" ng-model="field.defaultValue" />
		</div>
	</div>
</div>
